body {
	background-color: black;
	font-family: 'Shippori Antique B1', sans-serif;
	color: white;

}


code {
	background-color: black;
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	padding: 20px;
}